body {
  font-family: Arial, sans-serif;
}

.end {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaderboard {
  color: #ff00ff;
  font-weight: 700;
  font-size: 42px;
}

.image {
  width: 500px;
  height: 500px;
}
